.form {
  width: 480px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 64px);
  row-gap: 24px;
}

.form > div {
  width: 100%;
}

.form > div > div {
  width: 100%;
}

.btns__container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}