.section {
  width: 580px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 100px;
}

.status__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 52px;
}

.status__container_orders {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 272px;
}

.status__text {
  padding: 0;
  margin: 0 0 24px 0;
}

.orders__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 310px;
  width: 250px;
  flex-wrap: wrap;
  column-gap: 10px;
  overflow-x: auto;
  scrollbar-color: #8585ad #2f2f37;
  scrollbar-width: initial;
  scroll-behavior: smooth;
}
