.order__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 122px auto 0 auto;
  width: 640px;
}

.order__orderId {
  text-align: center;
  margin: 0 0 40px 0;
}

.order__header {
  text-align: left;
  margin: 0 0 12px 0;
}

.order__status {
  text-align: left;
  margin: 0 0 60px 0;
}

.orderIngredients__list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 16px 0 32px 0;
  list-style: none;
  padding: 0;
  height: 312px;
  overflow-y: scroll;
  scrollbar-color: #8585ad #2f2f37;
  scrollbar-width: initial;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.orderIngredients__dateAndPrice_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order__date {
  color: #8585ad;
}

.order__price_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}

.order__price {
  display: block;
  box-sizing: border-box;
  margin: 0 9px 0 0;
  padding: 0;
}
