.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: #1c1c21;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  margin-top: 20px;
  box-sizing: border-box;
}

.item__container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item__container_upper {
  margin-bottom: 24px;
}

.item__container_bottom {
  margin-top: 24px;
}

.item__date {
  color: #8585ad;
}

.item__status {
  display: block;
}

.item__imgContainer {
  max-width: 285px;
  overflow: hidden;
  position: relative;
}

.img__list {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.img__list :nth-of-type(1) {
  z-index: 6;
}

.img__list :nth-of-type(2) {
  transform: translateX(-20px);
  z-index: 5;
}

.img__list :nth-of-type(3) {
  transform: translateX(-40px);
  z-index: 4;
}

.img__list :nth-of-type(4) {
  transform: translateX(-60px);
  z-index: 3;
}

.img__list :nth-of-type(5) {
  transform: translateX(-80px);
  z-index: 2;
}

.img__list :nth-of-type(6) {
  transform: translateX(-100px);
  z-index: 1;
  opacity: 0.6;
}

.img__counter {
  display: block;
  margin: 0;
  position: absolute;
  right: 22px;
  top: 35%;
  opacity: 1;
  z-index: 10;
}

.item__price_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}

.item__price {
  display: block;
  box-sizing: border-box;
  margin: 0 9px 0 0;
  padding: 0;
}
